<a class="navbar-item" href="#">Home</a>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Products</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="#">Product A</a>
    <a class="navbar-item" href="#">Product B</a>
    <a class="navbar-item" href="#">Product C</a>
  </div>
</div>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Services</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="#">Service A</a>
    <a class="navbar-item" href="#">Service B</a>
    <a class="navbar-item" href="#">Service C</a>
  </div>
</div>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Resources</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="#">Resource A</a>
    <a class="navbar-item" href="#">Resource B</a>
    <a class="navbar-item" href="#">Resource C</a>
  </div>
</div>
<div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
</div>
