<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      {{> header-brand}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{> header-search}}
        {{> header-menus}}
        {{> header-social}}
      </div>
    </div>
  </nav>
</header>
